extends layout

block content
  nav(aria-label="breadcrumb")
  ol.breadcrumb
    li.breadcrumb-item
      a(href="/") Home
    li.breadcrumb-item.active(aria-current="page") Become an Admin  
  div.row.mt-5
    div.col-md-4.m-auto
      div.card.card-body
        h1.text-center.mb-3 Become an Admin
        form(action="", method="post")
          include partials.pug
          div.form-group
            label(for="adminPassword") Insert Secret Password
            input.form-control(type="password", name="adminPassword")  
          div.text-center
            button.btn.btn-primary.mb-3 Confirm